@import'../../styles/variables/variables';

.container{
    position: relative;

    width: 100vw;
    

    background-color:$violet ;
    color: $white;

    display: flex;
    align-items: center;
    justify-content: center;

}