

@mixin headline-1 {
    font-family: "Roboto";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
}

@mixin headline-2 {
    font-family: "Roboto";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
}

@mixin headline-36 {
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}

@mixin headline-3 {
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}

@mixin headline-4 {
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}